/*////////////////////////////    ESTILOS GENERALES   /////////////////////////*/ 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: #3E3E3E;
}
a{
    color: purple;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.contenedor{   
    width: 100%;
    height: auto;
    padding: 20px;
}

/*////////////////////////////    ESTILOS ANIMACION TEXTO   /////////////////////////*/ 
.oculto {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.aparecer {
  opacity: 1;
  transform: translateY(0);
}

.form{
    width: 100%;
    padding: 10px 30px;
}
label{
    margin-bottom: 30px;
}
input{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-content: center;
}
textarea{
    width: 80%;
    height: 150px;
    resize: none;
    margin-left: 42px;
    justify-content: center;
}
input, textarea{
    padding: 0px 5px;
}
.title-section{
    width: 100%;
    margin-top: 25px;
    padding: 20px;
}
.capa{
    background: #000;
    width: 100%;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}
.separador{
    background-color: purple;
    width: 100%;
    height: 3px;
}
.separador-transparente{    
    width: 100%;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#carousel_index{
    background-color: #4D4A4F;
}
.modal-header, .modal-body, .modal-footer{
    background-color: #2B004C;
}
.form input{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-content: center;

}
.footer{
    background-color: #1E1E1E;
    color: #646464;
    display: block;
    width: 100%;
    height: 47vh;
    padding: 15px 20px;
}

/*////////////////////////////    INDEX   SLIDESHOW   /////////////////////////*/ 

.capa-slide{
    height: 150vh;
}
.cont-img-slide{
    width: 100%;   
    margin-bottom: -40px;
}
.cont-img-slide img{
    width: 100%;
    margin-bottom: 10px;
    z-index: -1
}
.text_carousel{    
    background: linear-gradient(90deg,#FF2168, yellow);
    width: 40%;
    z-index: 1 !important;    
    margin-bottom: 110px;
    padding-bottom: 78px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}
.text_carousel h3{
    font-size: 60px;
    text-align: left;
}
.text_carousel p{
    font-size: 22px;
}

/*////////////////////////////    SECTION   /////////////////////////*/ 

.fila1, .fila2, fila3{    
    width: 100%;
    height: 70vh;
    padding: 90px 30px;
}
.fila1{
    background-color: #fff;
    margin-top: -105px;
}
.fila2{
    background-color: #7300D8;
    color: #fff;
    height: 110vh;
    padding-top: 180px;
}
.fila3{
    background-color: #fff;
    padding-bottom: 25px;
}
.fila1 h3{
    text-align: center;
    margin-bottom: 25px;
}
.cont-marca{
    width: 45%;
    height: 20vh;
    margin-left: 20px;
    padding: 20px 20px;
    float: left;
}
.cont-marca h1{
    font-size: 40px;
}
.btn-contacto{
    width: 200px;
    height: 60px;   
    border: 3px solid #fff;
    border-radius:45px;
    color: #fff;
    font-weight: 800;
    margin: 3px 3px;
    padding-top: 15px;
}
.btn-contacto:hover{
    background-color: orangered;
    border: 3px solid orangered;
    color: #fff;
}
.fila3 .contenedor{
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    border-radius: 10px;
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
}
.title-section h2, .title-section h3{
    text-align: center;
    margin-bottom: 30px;
}
.fila3 .contenedor .icono{
    width: 100%;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    text-align: center;
}
.fila3 .contenedor .icono img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.cont-btn-center{
    margin: 50px auto;
}
.cont-btn-center button{
    width: 100px;
    background-color: #4F0094;
    color: #fff;
}
.cont-btn-center button:hover{
    background-color: #B26BFF;
    color: #fff; 
}
/*////////////////////////////    BUZON   /////////////////////////*/ 
.contacto{
    background: linear-gradient(0deg,#C9A8E5, #FFF);
    box-shadow: 5px 0px 25px #B09AC7;
}
.contacto .title-section .text-buzon{
    text-align: center;
}
#cont-consulta{

}
.cont-buzon{
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}
.cont-buzon .cont-form{
    border-radius: 25px;
    box-shadow: 5px 5px 7px #7F36FF;
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 60px 20px;
}
.cont-buzon .cont-form input{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.cont-buzon .cont-form textarea{
    width: 85%;
}
.cont-form .separador{
    background-color: #9E43FF;
    width: 80%;
    height: 1px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.btn-buzon{
    background-color: #4F0094;
    color: #fff;
    margin-top: 15px;
}
.btn-buzon:hover{
    background-color: #B26BFF;
    color: #fff;
}
/*///////////////////////////// Estilos botón top //////////////////////////////////*/
.scroll-top-btn {
    z-index: 5;
    font-size: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0px 20px;
    border-radius: 100%;
    display: none;
    transition: background-color 0.3s;

}
.scroll-top-btn a{
    text-decoration: none;
    color: #E37332;
}
.scroll-top-btn a:hover {
    color: #E45300;
}

/*////////////////////////////    FOOTER   /////////////////////////*/ 

.up{
    background-color: red;
    position: fixed;
    height: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    margin-top: -500px;
}
.up .text-up{
    background-color: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: orangered;
    float: left;
    font-size: 16px;
    line-height: 30px;
    width: 0px;
    transition: 0.4s;
}
.up .up-icon{
    background-color: purple;
    color: #fff;
    font-size: 20px;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}
.up > .text-up{
    width: 150px;
    padding: 0px 6px;
}
.up:hover > .icon{
    background-color: #fff;
}
.footer_marca{
    margin-top: 150px;
    text-align: center;
    overflow: hidden;
}
.footer h6, .footer p{
}
.redes{
    float: right;
    padding: 10px 10px;
}
/*////////////////////////////    @MEDIAQUERYS   /////////////////////////*/ 
@media screen and (max-width: 992px) {
    .text_carousel {
        width: 70%;
        margin-right: 20px;
        margin-bottom: -78px;
    }
    .text_carousel h3{
        font-size: 25px;
        color: #000;
    }
    .text_carousel p{
        font-size: 15px;
        color: #000;
    }
}