header {
    background-color: #7300D8;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.marca a{
    color: #fff;
}
.marca img {
    width: 50px;
    margin-right: 10px;;
    display: inline;
}
.marca h6{
    display: inline;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff4500;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .menu-toggle i {
        font-size: 24px;
        color: #fff;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }
}